*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#edf3f5;
}

/* Layout */

.dashboard{
    display:flex;
    height:100vh;
    background:#edf3f5;
}

/* Sidebar */

.sidebar{
    width:270px;
    background:#b7d7df;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border-right:2px solid #9db9bf;
}

.sidebar-top{
    overflow-y:auto;
}

.sidebar-bottom{
    border-top:2px solid #9db9bf;
}

.menu{
    list-style:none;
    padding:10px 0;
}

.menu li{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px 20px;
    cursor:pointer;
    transition:.3s;
}

.menu li:hover{
    background:white;
}

.active{
    background:white;
    border-left:5px solid #3f6b78;
    font-weight:bold;
}

.logout{
    margin:10px;
    background:#d9534f;
    color:white;
    border-radius:8px;
    justify-content:center;
}

.logout:hover{
    background:#c9302c;
}

/* Main */

.main{
    flex:1;
    display:flex;
    flex-direction:column;
}

/* Header */

.topbar{
    height:130px;
    background:#b7d7df;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-bottom:2px solid #9db9bf;
}

.logo-img{
    width:80px;
    height:80px;
    object-fit:contain;
    display:block;
}

.welcome-text{
    text-align:center;
}

.welcome-text h2{
    margin-top:5px;
    color:#2f3e46;
    font-size:26px;
}

.welcome-text p{
    color:#5a6b73;
    font-size:14px;
}

/* Content */

.content{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.welcome-card{
    width:80%;
    background:white;
    border-radius:15px;
    padding:50px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.welcome-card h1{
    font-size:42px;
    margin-bottom:15px;
    color:#2f3e46;
}

.welcome-card p{
    color:#666;
    font-size:18px;
}

/* Responsive */

@media(max-width:768px){

.dashboard{
    flex-direction:column;
}

.sidebar{
    width:100%;
}

.topbar{
    height:120px;
}

.logo-img{
    width:60px;
    height:60px;
}

.welcome-card{
    width:95%;
    padding:30px;
}

}