*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.dashboard{
    display:flex;
    height:100vh;
}

.sidebar{
    width:250px;
    background:#6d5bd0;
    color:white;
    padding:30px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    margin:20px 0;
    cursor:pointer;
}

.main-content{
    flex:1;
    background:#f5f5f5;
    padding:30px;
}

.header{
    margin-bottom:30px;
}

.cards{
    display:flex;
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    width:250px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.card h3{
    color:#666;
}

.card h1{
    margin-top:15px;
    color:#6d5bd0;
}