.sidebar {
    width: 260px;
    background: #b7d7df;
    border-right: 1px solid #9fbec6;
    padding: 20px 0;
    overflow-y: auto;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.menu-item,
.submenu-item {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 14px 20px;

    text-decoration: none;
    color: #2f4f5a;
    font-size: 15px;

    transition: 0.25s;
}

.menu-item:hover,
.submenu-item:hover {
    background: rgba(255,255,255,.45);
}

.menu-item.active,
.submenu-item.active {
    background: white;
    color: #0f4c5c;
    font-weight: 600;
    border-left: 4px solid #3f6b78;
}

.settings-btn {
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    justify-content: space-between;
}

.settings-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.submenu {
    margin-left: 18px;
}

.submenu-item {
    font-size: 14px;
    padding: 12px 20px;
}