.topbar {
    height: 70px;
    background: #b7d7df;
    border-bottom: 1px solid #9fbec6;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Left */

.topbar-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.menu-btn {
    border: none;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
}

.topbar-logo {
    height: 45px;
    width: auto;
}

/* Center */

.topbar-center h2 {
    color: #2b4b56;
    font-size: 22px;
    font-weight: 600;
}

/* Right */

.topbar-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-btn,
.profile-btn,
.logout-btn {

    display: flex;
    align-items: center;
    gap: 8px;

    border: none;
    cursor: pointer;

    padding: 10px 14px;

    border-radius: 8px;

    background: white;

    transition: .25s;
}

.icon-btn:hover,
.profile-btn:hover,
.logout-btn:hover {
    background: #edf3f5;
}